@font-face {
    font-family: 'Principal';
    src: url('fonts/Swiss721BT-RomanCondensed.woff2') format('woff2'),
        url('fonts/Swiss721BT-RomanCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Principal';
    src: url('fonts/Swiss721BT-ItalicCondensed.woff2') format('woff2'),
        url('fonts/Swiss721BT-ItalicCondensed.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Principal';
    src: url('fonts/Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('fonts/Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

