html {
    font-family: arial;
}

.container {    
    max-width: 177.77vh;
    /*/ = (100 / [ratio=0.5625]) /*/
    margin: 0 auto;
    background-color: #F7F7F8;
    box-shadow: 0 0.25em 0.5em #aaa;
    border: 1em solid #ffff;
}

.container > article {
    width: 100%;
    padding-bottom: 56.25%;
    /*/ = (100 * [ratio=0.5625]) /*/
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}
video {    
  width: 100%;
  max-height: 100%;
}
.container > article > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container ul {
    margin: 2em 1em;
    padding: 0;
}
.container ul li {
    line-height: 2em;
    border-left: .2em solid #000;
    padding-left: .5em;
    margin: .5em 0;
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    text-transform: uppercase;
}
.container ul li a {
    display: block;
    line-height: 2em;
    text-decoration: none;
    color: #000;
}