html {
    font-family: arial;
}
.container h1 {
    display: flex;
    flex-direction: column;
    border-left: .2em solid #000;
    padding-left: .5em;
    line-height: 2em;
    background-color: #fafafa;
    margin: 1em 0;
}
.container {
    margin: 1em;
}
.container label {
    display: block;
    line-height: 2em;
    font-size: 1.5em;
}
.container select {
    display: block;
    min-width: 100%;
    line-height: 2em;
    height: 3em;
    margin: 1em 0;
    padding: 0 1em;
    border: .1em solid #ddd;
    text-transform: uppercase;
}
.container button {
    display: block;
    min-width: 100%;
    line-height: 2em;
    height: 3em;
    margin: 1em 0;
    padding: 0 1em;
    border: .1em solid #ddd;
    text-transform: uppercase;
    cursor: pointer;
}

.container ul {
    margin: 0 1em;
    padding: 0;
}
.container ul li {
    line-height: 2em;
    border-left: .2em solid #000;
    padding-left: .5em;
    margin: .5em 0;
    border-bottom: .01em dotted;
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    text-transform: uppercase;
}